.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
}

.next-prev-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background: none;
}