.preloader {
    width: 70px;
    height: 70px;
    fill: #4E8CFF;
    animation: rotatingPreloader 7s linear infinite;
}

@keyframes rotatingPreloader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}