@import '../../styles/mixins.scss';

.custom-table {
    border-collapse: collapse;

    th {
        position: relative;
        color: #fff;
        background: #2e77ff;
        font-weight: 600;

        &:nth-child(2n) {
            background: #4e8cff;
        }

        &.sorted-asc::after {
            @include order-sort-icon("▲");
        }

        &.sorted-desc::after {
            @include order-sort-icon("▼");
        }

        button {
            width: 100%;
            padding: 10px 20px;
            border: none;
            background: inherit;
        }
    }

    td {
        padding: 15px;
    }

    th,
    td {
        max-width: 200px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--filled {
        tr {
            transition: background .3s;

            &:hover {
                background: #ebebeb;
            }
        }

        td {
            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }
        }
    }
}