.remove-row-button {
    padding: 4px 8px;
    border: 0;
    border-radius: 8px;
    background-color: #F00;
    color: #FFF;

    &:focus,
    &:hover,
    &:active {
        background-color: #E00;
    }
}