.input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D6D6D6;

    &:focus,
    &:hover,
    &:active {
        border: 1px solid #B6B6B6;
    }
}

.input-with-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
}