.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page-content {
    width: 300px;
}

.new-row-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #FFF;
}

.title {
    font-size: 20px;
}

.submit-button {
    margin-top: 20px;
}